body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: hsl(210, 36%, 96%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: green;
}

.container-fluid {
	height: 800px;
}

.underline {
	width: 12rem;
	height: 0.25rem;
	background-color: hsl(205, 78%, 60%);
	margin-left: auto;
	margin-right: auto;
}

.input {
	width: 50%;
	margin: 1rem auto;
}

.input-error {
	width: 50%;
	margin: 1rem auto;
	border: 1px solid #b40e0e;
	background-color: #fddddd;
}

.itemsDisplayContainer {
	width: 70%;
	margin: 3.8rem auto;
}

.averagePrice {
	max-width: 300px;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s linear;
	margin: 1rem auto;
}

.errorInput {
	color: red;
}

.itemsDisplay {
	max-width: 500px;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s linear;
	margin: 0 auto;
}

@media (max-width: 750px) {
	.itemsDisplayContainer {
		width: 100%;
	}
}
